%section.top
  %h1.title The Right Alphabet
  %h2.subtitle Speak the same language.
%section.middle
  %h1.bold We do Interior Design
%section.contact
  %p
    For all enquiries :
    .email contact@therightalphabet.com
  / %table
  /   %tr
  /     %td
  /       Laura Boyadjian
  /       .email laura@therightalphabet.com
  /       %br/
  /       = image_tag('laura.jpg', alt: 'Laura Boyadjian', id: 'laura')
  /       %br/
  /     %td
  .adress
    The Right Alphabet
    %br/
    1 Roland gardens SW73PE
    %br/
    London, Chelsea, UK
