#fullpage
  %section#firstPage.section
    .top.logo
      %span.title.bold CARPENTERS
      %span.subtitle WORKSHOP
      %span.subtitle ARCHITECTURES
  %section#secondPage.section
    .bottom-left.logo
      %span.title.bold CARPENTERS
      %span.subtitle WORKSHOP
      %span.subtitle ARCHITECTURES
    .adress
      %p
        %span.bold LONDON
        6 ALBEMARLE STREET / W1S 4BY
      %p
        %span.bold PARIS
        64 RUE DE LA VERRERIE / 75004
      %p
        %span.bold NEW YORK
        693 FIFTH AVENUE / NY 10022
      %p
        = mail_to('contact@carpentersworkshoparchitectures.com', 'carpentersworkshoparchitectures', class: 'email')
