%section.top
  %h1.title The Right Alphabet
  %h2.subtitle Speak the same language.
%section.middle
  %h1.bold We do Interior Design
%section.contact
  .adress
    The Right Alphabet
    %br/
    1 Roland gardens SW73PE
    %br/
    London, Chelsea, UK
  %p For all enquiries :
  .email contact@therightalphabet.com
  %p or
  .email laura@therightalphabet.com
