#fullpage
  %section#firstPage.section
    .top
      %h1.title The Right Alphabet
      %h2.subtitle Speak the same language.
  %section#secondPage.section
    %h1 For all enquiries:
    .contact
      .email contact@therightalphabet.com
    .contact
      .adress
        The Right Alphabet - 1 Roland Gardens SW73PE London UK - +447825163159
      %p
