body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.logo {
  font-size: 21pt;
}

.fp-tableCell {
  vertical-align: middle;
}
h1 {
  font-size: 2em;
}
.top {
  margin-left: 1em;
}
.top h1 {
  text-align: left;
}
.top h2 {
  text-align: right;
  font-weight: 100;
}

section {
  text-align: left;
}

.contact table {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  td {
    text-align: left;
    vertical-align: top;
  }
}

.bold {
  font-weight: bold;
}

.contact {
}

.adress {
  width: 330px;
  margin: 0 auto;
  color: black;
}
.adress p {
  text-align: left;
}
.bottom-left img {
  margin-top: 3em;
}
.bottom-left {
  position: absolute;
  left: 1.5em;
  bottom: 1em;
  font-size: 11pt;
  letter-spacing: -1px;
}

.title {
}
.subtitle {
  padding-left: -3px;
}

.email {
  text-decoration: none;
}

#down {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #333;
  margin: 0 auto;
}
